* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #fff; */
}

ul {
    list-style: none;
}

:root {
    --color_07101D: #07101D;
    --color_FF3C00: #FF3C00;
}

a {
    text-decoration: none;
}

body {
    font-family: kalameh;
    background-color: var(--color_07101D);
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WebFonts/_Woff/KalamehWeb-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 300;
    src: url('../font/WebFonts/_Woff/KalamehWeb-Thin.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: bold;
    src: url('../font/WebFonts/_Woff/KalamehWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: normal;
    src: url('../font/WebFonts/_Woff/KalamehWeb-Regular.woff') format('woff');
}


@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 900;
    src: url('../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Black.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: bold;
    src: url('../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Bold.woff') format('woff');
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: normal;
    src: url('../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Regular.woff') format('woff');
}

@font-face {
    font-family: Gilroy_Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../font/WebFonts/Gilroy-Bold.ttf') format('ttf');
}

header::before {
    content: '';
    width: 904px;
    height: 876px;
    background-image: radial-gradient(#3D0D58 38%, #070F1C 0);
    position: absolute;
    filter: blur(74px);
    opacity: 0.4;
    right: -274px;
    top: -273px;
    z-index: -1;
}

header::after {
    content: '';
    background-image: url('../img/Group\ 1.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.text_FF3C00 {
    color: var(--color_FF3C00);
}

.border_FF3C00 {
    border-color: var(--color_FF3C00) !important;
}

.bg_07101D {
    background-color: var(--color_07101D) !important;
}



.title_main_header {
    font-size: 4rem;
}

@media screen and (max-width:991.98px) {
    .bg_dark_md {
        background-color: var(--bs-secondary-color);
    }

    header::before {
        width: 30%;
        height: 46%;
        right: 70%;
        top: 0;
    }

    header::after {
        display: none;
    }
}

@media screen and (max-width:991.98px) {
    .title_main_header {
        font-size: 2rem;
    }

    .Ellipse_2 {
        width: 551px;
        height: 574px;
        position: absolute;
        bottom: 55%;
        left: 65%;
        /* display: none !important; */
    }
}

@media screen and (max-width:600.98px) {

    .title_main_header {
        font-size: 2.5rem;
    }

    .text_time_hot_bids {
        width: 120px;
        height: 34px;
        font-size: 0.8rem;
    }

    .heart_icon_hot_bids {
        width: 34px;
        height: 34px;

    }

    .main_img_header::before,
    .main_img_header::after {
        transform: scale(0.8);
    }

    .count_user_site {
        height: 56px;
    }

    .icon_header_container {
        width: 41px !important;
        height: 41px !important;
    }

    .icon_header_container img {
        width: 24px;
    }

    .fs-5 {
        font-size: 1rem !important;
    }

    .fs-3 {
        font-size: calc(1rem + .6vw) !important;
    }

    .fs-4 {
        font-size: calc(1rem + .3vw) !important;
    }

    .arrow_left {
        width: 22px;
    }

    .icon_box_prop {
        width: 58px !important;
        height: 58px !important;
    }

    .icon_box_prop img {
        width: 32px !important;
    }

    .box_property {
        height: 198px !important;
    }

    .section_prop {
        margin-top: 6rem !important;
    }

    .form_news_letter {
        width: 95% !important;
    }

    .cover_bg_news_letters {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .section_news_letters {
        background: linear-gradient(180deg, #A50E86 0.16%, #C10B70 24.02%, #E83947 38.73%, #DF330D 55.88%, #C55212 81.05%, #D37506 100%) !important;
        border-radius: 5px !important;
    }

    .section_news_letters::before,
    .section_news_letters::after {
        content: '';
        width: 380px !important;
        height: 380px !important;

    }

    .section_news_letters::before {
        left: -5rem;
        bottom: -8rem;
        transform: rotate(-104deg);
    }
    .section_news_letters::after{
        right:-6rem !important;
        bottom: 1rem !important;
        transform: rotate(-115deg);
    }
}

form_news_letter {

    width: 70%;
}

.w_70 {
    width: 70%;
}

.search_form_header {
    height: 68px;
}

.search_form_header button {
    right: 8px;
    top: 25%;
}

.bg_gradient_main_site {
    background-image: linear-gradient(to right, #7011AD, #BC0505, #FC630F);
}

.main_img_header::before,
.main_img_header::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
}

.main_img_header::before {
    background-image: url('../img/Path\ \(1\).png');
    width: 45px;
    height: 81px;
    top: 4rem;
    right: 5rem;
}

.main_img_header::after {
    background-image: url('../img/scribble\ final\ version-02\ \(2\).png');
    width: 72px;
    height: 57px;
    bottom: 3rem;
    left: 2rem;
}

.count_user_site {
    width: 298px;
    height: 79px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.10);
    bottom: 4rem;
    right: 3rem;
}

.icon_header_container {
    width: 81px;
    height: 81px;
}

.wallet_box>div {
    background-color: #161e2b;
}

.wallet_box {
    padding: 1px;

    height: 180px;
    /*
    border: 1px solid;
    border-image-source: linear-gradient(317.29deg, #FC280C 8.01%, #07101D 100%, #07101D 100%);
     */
}

.wallet_box_1 {
    background-image: linear-gradient(to right bottom, #07101D, #FC280C);
}

.wallet_box_1::after {
    border-top: 1px solid #FC280C;
}

.wallet_box_2 {
    background-image: linear-gradient(to right bottom, #07101D, #00D1FF);
}

.wallet_box_2::after {
    border-top: 1px solid #00D1FF;
}

.wallet_box_3 {
    background-image: linear-gradient(to right bottom, #07101D, #760AFF);
}

.wallet_box_3::after {
    border-top: 1px solid #760AFF;
}

.wallet_box_4 {
    background-image: linear-gradient(to right bottom, #07101D, #FE007A);
}

.wallet_box_4::after {
    border-top: 1px solid #FE007A;
}

.wallet_box_5 {
    background-image: linear-gradient(to right bottom, #07101D, #FFBF1C);
}

.wallet_box_5::after {
    border-top: 1px solid #FFBF1C;
}

.wallet_box_6 {
    background-image: linear-gradient(to right bottom, #07101D, #FC280C);
}

.wallet_box_6::after {
    border-top: 1px solid #FC280C;
}

.wallet_box::after {
    content: '';
    width: 43.3px;
    height: 22.17px;
    position: absolute;
    background-color: #07101D;
    right: -14px;
    bottom: -3px;
    transform: rotate(-45deg);
}

.bg_blur {
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

.box_hot_bids {
    background-color: rgba(255, 255, 255, 0.10);
}

.img_hot_bids div {
    top: 1.8rem;
    left: 2.4rem;
}

.heart_icon_hot_bids {
    width: 58px;
    height: 58px;
}

.text_time_hot_bids {
    width: 150px;
    height: 58px;
    font-size: 1.5rem;
    font-family: Gilroy_Bold;
}

.Ellipse_2 {
    width: 952px;
    height: 991px;
    position: absolute;
    bottom: -55%;
    left: -15%;
    z-index: -1;
    filter: blur(50px);
    border-radius: 100%;
    background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(8, 164, 117, 0.1) 28.57%, rgba(7, 15, 28, 0) 100%);
}

.section_prop {
    margin-top: 11rem;
}

.box_property {
    height: 240px;
}

.box_property_1 {
    background: linear-gradient(106.88deg, rgba(0, 255, 26, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid #00FF1A;
}

.box_property_2 {
    background: linear-gradient(106.88deg, rgba(74, 1, 224, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid rgba(83, 0, 255, 1)
}

.box_property_3 {
    background: linear-gradient(106.88deg, rgba(255, 19, 4, 0.1) 19.63%, rgba(255, 255, 255, 0.1) 98.74%);
    border: 1px solid rgba(255, 31, 0, 1)
}

.icon_box_prop {
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(25px);
    top: -3rem;
    right: 2rem;
}

.caption_trends {
    background-color: rgba(255, 255, 255, 0.10);
    height: 214px;
    padding-top: 7rem;
}

.img_trends {
    transform: translateY(99px);
}

.img_trends img {
    width: 90%;
}

.Ellipse_3 {
    top: -17rem;
    right: -37rem;
    width: 1605px;
    height: 1613px;
    background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(189, 9, 95, 0.13) 37.62%, rgba(7, 15, 28, 0) 100%);
}

.box_top_creators {
    height: 182px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

.section_news_letters {
    background: linear-gradient(90deg, #A50E86 0.16%, #C10B70 24.02%, #E83947 38.73%, #DF330D 55.88%, #C55212 81.05%, #D37506 100%);
    height: 324px;
    /* border: 10px solid rgba(255, 255, 255, 0.3); */
}

.section_news_letters::before,
.section_news_letters::after {
    content: '';
    width: 982.71px;
    height: 726.27px;
    position: absolute;
    background-repeat: no-repeat;
}

.section_news_letters::before {
    background-image: url('../img/Group\ 122.png');
    left: 0;
}

.section_news_letters::after {
    background-image: url('../img/Group\ 123.png');
    right: -32rem;
    bottom: -27rem;
}

.cover_bg_news_letters {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 149px 0 rgba(255, 255, 255, 0.6);
}

.Ellipse_4 {
    /* Ellipse 4 */
    filter: blur(50px);
    width: 615px;
    height: 584px;
    top: -5%;
    right: -12%;
    background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(8, 52, 164, 0.2) 21.7%, rgba(7, 15, 28, 0) 100%);

}

footer {
    background: rgba(9, 16, 40, 1);
    border-top: 1px solid;

    /* border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%); */


    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.icon_footer_link {
    background: rgba(255, 255, 255, 0.1);
    width: 52px;
    height: 52px;
}